
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Judson:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Judson:ital@1&family=Roboto+Condensed&display=swap');

:root{
    --stdMargin:4rem;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color:white;
}

#landingpage{
    margin: 0 var(--stdMargin);
    display: grid;
grid-template-columns:repeat(12,1fr);
column-gap: 10px;
}
#herosection{
    
    color: black;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    column-gap: 200px;  
}

#herotext2{
margin-top: auto;
font-family: 'Judson';
font-style: italic;
font-weight: 100;
font-size: 68px;
gap:2rem;
display:flex;
letter-spacing: 0.1em;
}
#herodescription1{
    color: dimgrey;
font-family: 'Cherry Swash';
font-style: normal;
font-weight: 68px;
font-size: 30px;
letter-spacing: 0.1em;
line-height: normal;
gap: 1rem;
}
#herodescription2{
    font-family: 'Judson';
font-style: italic;
font-weight: 100;
font-size: 30px;
letter-spacing: 0.1em;
line-height: 600px;
row-gap: 200px;
}

#logo{
    width: 350px;
    position:relative;
    grid-column: 2/5;
    left: var(--stdMargin);
}

#imagesection{
    height: 80vh;
    grid-column: 5/12;
    background-image: url("bgImg.jpg") ;
    background-size: cover;
    background-position: top center;
position: relative;
    right:calc( -1* var(--stdMargin));
    
}
